/*Set background of whole page to black */
body{
    background-color: black;
}
/* Set background of section to light green, words to black */
div#table {
    background-color: rgb(197, 224, 206);
    color:black;
    box-shadow: 0px 5px 5px #ffffff;
    text-shadow: 1px 1px 1px #ffffff;
    padding: 5%;
    margin: 5% 10%;
    text-align: center;
    border-radius: 10%;

}

div#table > div{
    text-align: center;
    padding: 5%;
}
/*Background of table:*/
table.schedule {
    background-image: url("/images/img.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    padding: 10%;
    margin: 10%;
    border-collapse: collapse;
}

/* Formatting the table */
th, td {
    border: 5px solid rgb(197, 224, 206);
    text-align: center;

}
/* Target headers in the first column*/
table th:first-of-type {
    border-right-width: 10px;
}

/* Set all header values to green background with white words */
th {
    background-color: black;
    color: rgba(206, 241, 209, 0.85);
    font-size: large;
    font-weight: bold;
    height: 70px;
}

td {
    color: black;
}


/* Column Width */

/* Set the times column to the header row color */
#firstCol {
    width: 10%;
}

/* Set size of the schedule column */
#daysCol {
    width: 5%;
}