
body {
    position: relative;
    /*background-image: url("Tree.png");
    background-repeat: no-repeat;*/
    background-size: 100%;
    /*background-image: linear-gradient(135deg, rgba(178, 241, 188, 0.41) 10%, rgb(255, 255, 255) 100%);
    background: mintcream; */
    background: black;
}

p {
    font-family: "Quicksand", "Verdana", serif;
    text-align: justify;
    /*color: #2c1604;*/
    margin: 0 5rem 5rem 5rem;
    background-color: rgb(192, 219, 203);
    border-radius: 20%;
    padding: 5rem;
}


/* Styles for the Countdown Clock */

div#countdown {
    position: relative;
    bottom: 20px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

}

div#countdown div {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 1.2em;
    font-size: 3em;
    font-family: segment14, sans-serif;
    color: white;
    margin: 0px 10px;
    padding: 3rem;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 2px black, 0px 0px 4px black, -1px 1px 8px white,
    1px -1px 8px white, -1px 1px 12px white, 1px -1px 12px white;
}

div#countdown div span {
    font-size: 2em;
}

div.clock {
    background: url("World.png");
    padding: 3rem 3rem 1rem 3rem;
    margin: 5rem;
    border-style: inset;
    border-radius: 13px;
    border-color: #1a1d20;
    text-align: center;

}

div.clock h1 {
    text-shadow: 5px 5px 5px black;
    color: rgb(0, 0, 0, 70);
}

h2 {
    text-align: center;
    font-size: 3rem;
}

span {
    font-size: 4rem;
    text-align: center;
    margin: 3rem;
}