/* Formatting the table */
th, td {
    border-collapse: collapse;
    border: 1px solid palegreen;
    text-align: center;
}

/* Set all header values to green background with white words */
th {
    color: white;
    background-color: darkgreen;
}

td {
    color: darkgreen;
    background-color: palegreen;
}


/* Column Width */

/* Set the times column to the header row color */
#firstCol {
    width: 15%;
}

/* Set size of the schedule column */
#daysCol {
    width: 10%;
}